

.containerHome {
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  max-width: 500px;
  background: #ffffffd9;
  border-radius: 18px;
  margin-top: 10%;
  backdrop-filter: blur(6px);
  box-shadow: 0px 6px 18px rgba(0,0,0,0.15);

}

.title {
  color: #1d4079;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 12px;
}

.welcome {
  font-size: 18px;
  color: #333;
}

.button {
  width: 80%;
  padding: 14px;
  margin-top: 16px;
  font-size: 16px;
  background-color: #0f66d0;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

.button:hover {
  background-color: #004a9e;
  transform: scale(1.05);
}

.logout {
  background-color: #d12a2a !important;
}

.logout:hover {
  background-color: #a81828 !important;
}


