/* Login.module.css */
.container {
  max-width: 400px;
  margin: 60px auto;
  text-align: center;
  padding: 60px;
  background-color: #ffffffd7;
  margin-top: 10%;
  border-radius: 15px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 28px;
  color: #1a3e66;
  margin-bottom: 20px;
}

.formGroup {
  margin-bottom: 15px;
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #bbb;
  font-size: 16px;
}

.button {
  width: 100%;
  padding: 12px;
  background-color: #2949b0;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.button:hover {
  background-color: #15427a;
  transform: scale(1.05);
}

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}
